<div>
    <h2>Hi {{ user.firstName }},</h2>
    <br>
    <p>To verify your email you can either do one of this options</p>
    <ul>
        <li>Clicking this: <a href="http://localhost:3001/auth/email-verification?token={{token}}">link</a></li>
        <li>Copy and paste this link in your browser: <br>
            http://localhost:3001/auth/email-verification?token={{token}}
        </li>
    </ul> 
</div>