<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <title>Document</title> -->
</head>
<body>
    <header>Hi, {{ user.firstName }}</header>
    <main>
        <p>Please remember to verify your email if you haven't already.</p>

        <p>Remember that you can delete your account whenever you want, no questions asked.</p>

        <p>If you haven't signed up with us, please contact our <a>customer support</a> to solve this issue.</p>
    </main>
</body>
</html>
