<div>
    <h2>Hi {{ user.firstName }},</h2>
    <br>
    <p>Please remember to verify your email if you haven't already.</p>
    <br>
    <p>Remember that you can delete your account whenever you want, no questions asked.</p>
    <br>
    <br>
    <p>If you haven't signed up with us, please contact our <a>customer support</a> to solve this issue.</p>
</div>